.PhotoListScreen {
    background: #FAFAFA;
    padding: 20px;
}

.PhotoListScreen .Title {
    font-weight: 900;
}

.PhotoListScreen ul {
    list-style: none;
    padding-left: 0;
    width: 640px;
    margin: auto;
}

.PhotoListScreen li {
    text-align: center;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding-top: 20px;
    margin-bottom: 20px;
    background: white;
}

.PhotoListScreen li p {
    color: #999999;
    font-weight: 500;
}


